*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('https://cdn.pixabay.com/photo/2013/07/18/20/26/boat-164989_1280.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Palanquin', sans-serif;
  letter-spacing: 1px;
  color: rgb(219, 138, 100);

}
.current{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  justify-content: space-around;;
  min-height: 50px;
  width: 40vw;
}
.current h4{
  font-size: 2vmax;
}
.current p{
  font-weight: 900;
  font-size: 1.5vmax;
}
p.current{
  font-size: 4vmax;
  color: aliceblue;
}
h6{
  position: fixed;
  bottom: 0;
  right: 10px;
  font-size: 15px;
}
h6.photo{
  left:10px;
  right: auto;
}
a
{
  color: beige;
}
